.form {
    width: 80%;
    margin: 2vh auto;
    display: flex;
    flex-direction: column;

    .postButton {
        font-family: 'Lato', sans-serif;
        margin: auto;
        width: 80%;
        height: 6vh;
        color: #FFFFFF;
        background-color: #343434;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
            color: #343434;
            background-color: #FFFFFF;
            border: 1px solid #343434;
        }
    }
}