.postModalButton {
    display: block;
    width: 25%;
    height: 6vh;
    margin: 2vh auto 0 !important;
    font-family: 'Lato', sans-serif;
    background-color: #343434;
    color: #FFFFFF;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        color: #343434;
        background-color: #FFFFFF;
        border: 1px solid #343434;
    }
}