.formGroup {
    display: flex;
    flex-direction: column;
    width: 25%;

    .formLabel {
        margin: 1vh 0;
    }

    .formInput {
        padding: 2%;
        height: 4vh;
        border: #343434 1px solid;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    input::placeholder {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        outline: none;
    }

    input:focus,
    input:active {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        outline: none;
    }

    .formError {
        margin: 1vh 0;
        font-size: 14px;
        color: coral;
    }
}